<aside class="col d-none d-lg-flex col-lg-4 col-xl-3 pr-md-1">
				<div class="list-group">
					<div class="basket-main list-group-item bg-light mb-3 py-1 rounded bg-shadow">
						<div class="text-center">
							<span class="text-uppercase">Корзина</span>
							<img src="img/basket.png" width="25" alt="">
						</div>
						<div class="border bg-white my-2 text-center">
							<span class="text-danger">У вас еще нет покупок</span>
						</div>
						<div class="text-center">
							<button class="btn bg-primary text-white">Заказать</button>
						</div>
					</div>
					<div class="list-group-item bg-light mb-3 py-1 rounded bg-shadow">
						<form action="#" class="form-inline">
							<input type="text" class="form-control" placeholder="Search">
							<button class="btn btn-outline-succeces my-2 mx-1">Поиск</button>
						</form>
					</div>
					<a href="sheets.html" class="list-group-item bg-light mb-3 py-0 rounded bg-shadow">
						<h4 class="list-group-item-heading text-center">Одноразовые <br> простыни</h4>
						<div class="d-flex justify-content-center">
							<div class="mr-1">
								<img src="img/bedsheets/IMG_2484.JPG" class="img-fluid rounded" alt="">
							</div>
							<div class="mr-1">
								<img src="img/bedsheets/IMG_2488.JPG" class="img-fluid rounded" alt="">
							</div>
							<div class="mr-1">
								<img src="img/bedsheets/IMG_2477.JPG" class="img-fluid rounded" alt="">
							</div>
						</div>
						<p class="list-group-item-text pl-2">Простыни из нетканых материалов для одноразового применения. Используются для медицинских и косметологических процедур, в массажных кабинетах, стационарах больниц и гостиницах. </p>
					</a>
					<a href="bedlinen.html" class="list-group-item bg-light mb-3 py-0 rounded bg-shadow">
						<h4 class="list-group-item-heading text-center">Одноразовое <br> постельное белье</h4>
						<div class="d-flex justify-content-center">
							<div class="mr-1">
								<img src="img/kits/IMG_2834.JPG" alt="" class="img-fluid rounded">
							</div>
							<div class="mr-1">
								<img src="img/kits/IMG_2719.JPG" alt="" class="img-fluid rounded">
							</div>
							<div class="mr-1">
								<img src="img/kits/IMG_2722.JPG" alt="" class="img-fluid rounded">
							</div>
						</div>
						<p class="list-group-item-text pl-2">Простыни, пододеяльники и наволочки для медицинских центров и гостиниц. </p>
					</a>
					<a href="towels.html" class="list-group-item bg-light mb-3 py-0 rounded bg-shadow">
						<h4 class="list-group-item-heading text-center">Одноразовые <br> салфетки</h4>
						<div class="d-flex justify-content-center">
							<div class="mr-1">
								<img src="http://placehold.it/120x120" alt="" class="img-fluid rounded">
							</div>
							<div class="mr-1">
								<img src="http://placehold.it/120x120" alt="" class="img-fluid rounded">
							</div>
							<div class="mr-1">
								<img src="http://placehold.it/120x120" alt="" class="img-fluid rounded">
							</div>
						</div>
						<p class="list-group-item-text pl-2">Универсальнеы салфетки из нетканого материала Спанлейс для маникюрных салонов и уборки.</p>
					</a>
					<a href="towels.html" class="list-group-item bg-light mb-3 py-0 rounded bg-shadow">
						<h4 class="list-group-item-heading text-center">Одноразовые <br> полотенца</h4>
						<div class="d-flex justify-content-center">
							<div class="mr-1">
								<img src="img/towels/IMG_2503.JPG" alt="" class="img-fluid rounded">
							</div>
							<div class="mr-1">
								<img src="img/towels/IMG_2685.JPG" alt="" class="img-fluid rounded">
							</div>
							<div class="mr-1">
								<img src="img/towels/IMG_2686.JPG" alt="" class="img-fluid rounded">
							</div>
						</div>
						<p class="list-group-item-text pl-2">Впитывающие полотенца для парикмахерских и салонов красоты. Основные размеры 35х70 и 45х90см.</p>
					</a>
					<a href="garments.html" class="list-group-item bg-light mb-2 py-0 rounded bg-shadow">
						<h4 class="list-group-item-heading text-center">Одноразовые халаты и <br> другие швейные изделия</h4>
						<div class="d-flex justify-content-center">
							<div class="mr-1">
								<img src="http://placehold.it/120x120" alt="" class="img-fluid rounded">
							</div>
							<div class="mr-1">
								<img src="http://placehold.it/120x120" alt="" class="img-fluid rounded">
							</div>
							<div class="mr-1">
								<img src="http://placehold.it/120x120" alt="" class="img-fluid rounded">
							</div>
						</div>
						<p class="list-group-item-text pl-2">Трусы для колоноскопии, халаты для пациентов, штаны для прессотерапии, одноразовые бикини и многие другие швейные изделия </p>
					</a>
				</div>
			</aside>