		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 bg-shadow rounded-bottom border">
				<a href="index.html" class="navbar-brand"><img src=img/logo200x200.png height="80" alt="logo" class="img-rounded"></a>
				<div class="col d-lg-none">
					<div class="text-center ml-4">
						<img src="img/phone_number.png" width="26" alt="" class="mr-2">
						<a class="text-dark font-weight-bold" href="">+7(926)846-70-30</a>
					</div>
					<div class="text-center">
						<img src="img/e-mail.png" width="26" alt="" class="mr-2">
						<a class="text-dark font-weight-bold" href="">lp.sale@bk.ru</a>
					</div>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				 <span class="navbar-toggler-icon"></span>
				 </button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item mr-2">
							<a class="nav-item nav-link text-center text-dark" href="index.html#anchor-about">О&nbsp;нас</a>
						</li>
						<li class="nav-item mr-2">
							<a class="nav-item nav-link text-center text-dark" href="towels.html">Полотенца и&nbsp;салфетки</a>
						</li>
						<li class="nav-item mr-2">
							<a class="nav-item nav-link text-center text-dark" href="sheets.html">Простыни</a>
						</li>
						<li class="nav-item mr-2">
							<a class="nav-item nav-link text-center text-dark" href="bedlinen.html">Постельное белье</a>
						</li>
						<li class="nav-item mr-2">
							<a class="nav-item nav-link text-center text-dark" href="garments.html">Швейные изделия</a>
						</li>
						<li class="nav-item mr-2">
							<a class="nav-item nav-link disabled text-center" href="#">Тапочки</a>
						</li>
						<li class="nav-item mr-2">
							<a class="nav-item nav-link text-center text-dark" href="index.html#anchor-contacts">Контакты</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-xl-2 d-none d-lg-block" style="min-width: 210px">
					<div>
						<img src="img/phone_number.png" width="26" alt="" class="mr-2">
						<a class="text-dark font-weight-bold" href="">+7(926)846-70-30</a>
					</div>
					<div>
						<img src="img/e-mail.png" width="26" alt="" class="mr-2">
						<a class="text-dark font-weight-bold" href="">lp.sale@bk.ru</a>
					</div>
				</div>

			</nav>
		</header>